.banner {
  display: flex;
  width: 80%;
  margin: 1rem auto;
  flex-direction: row;
  justify-content: space-between;
  font-size: 16pt;
  padding: 1rem;
  border-radius: 5px;
  border: 2px solid black;
  background-color: #28aecf;
}

.banner-text {
  flex-basis: 70%;
}

.banner-button {
  flex-basis: 5%;
}

.banner-button button {
  background-color: transparent;
  border: none;
  padding: 0.5rem;
  border-radius: 50px;
  transition-duration: 0.2s;
}

.banner-button button:hover {
  cursor: pointer;
  color: white;
  background-color: #1a7b94;
}
