.body-container {
  background-image: url("../assets/Margin-Pattern.jpg");
}

.body-content {
  width: 60%;
  background-color: white;
  margin: auto;
  text-align: center;
}

@media screen and (max-width: 535px) {
  .body-content {
    width: 85%;
  }
}
