.contact-body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-evenly;
  margin: auto;
  margin-bottom: 2rem;
}

.contact-child p {
  text-align: center;
}

#schedule-button {
  text-decoration: none;
  margin: 1rem;
}

.contact {
  margin: 1rem;
}

#contact-email {
  word-wrap: break-word;
}

@media screen and (max-width: 775px) {
  .contact-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
