.header-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 10px;
  width: 100%;
  margin: auto;
  text-align: center;
}

#header-logo {
  display: flex;
  width: 50%;
  height: 40%;
  min-width: 300px;
  min-height: 250px;
  grid-column: 2;
  margin: auto;
}

#header-whitespace {
  width: 100%;
  grid-column: 0;
}

#header-contact-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 50%;
  min-height: 125px;
  margin: auto;
  grid-column: 3;
}

#header-contact-info p {
  text-align: center;
  word-wrap: break-word;
  margin: none !important;
  font-size: 11pt;
}

#header-contact-info a {
  text-align: right;
}

@media screen and (max-width: 650px) {
  #header-contact-info {
    display: none;
  }
}
