.mobile-navbar {
  display: none;
}

.mobile-navbar-body {
  background-color: #3499af;
  margin-bottom: 0;
}

.mobile-navbar-menu {
  list-style: none;
  background-color: #0b353f;
  margin-top: 0;
}

.mobile-navbar-menu li {
  padding: 1rem;
}

.mobile-navbar-menu li a {
  text-decoration: none;
  color: white;
}

#mobile-navbar-button {
  border: none;
  color: white;
  background-color: #3499af;
  padding: 1rem;
  margin-left: 1rem;
  font-size: 16px;
}

@media screen and (max-width: 600px) {
  .mobile-navbar {
    display: block;
  }
}
