.terms-of-service {
    margin: 2rem auto;
    width: 80%;
    min-width: 300px;
    text-align: center;
}

.terms-of-service button {
    margin: 2rem auto;
}

.terms-of-service ul {
    width: 80%;
    min-width: 300px;
    margin: auto;
}