body {
  margin: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

a {
  cursor: pointer;
}

h2 {
  font-size: 20pt;
}

p {
  font-size: 16pt;
  width: 80%;
  text-align: left;
  margin: auto;
}

.buttons {
  background-color: #3499af;
  border: none;
  border-radius: 5px;
  margin: auto;
  color: white;
  padding: 1rem;
}

.buttons:hover {
  background-color: #206f81;
  cursor: pointer;
}
