body {
  margin: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  background-color: #99d9ea;
}

a {
  cursor: pointer;
}

h2 {
  font-size: 20pt;
}

p {
  font-size: 16pt;
  width: 80%;
  text-align: left;
  margin: auto;
}

.buttons {
  background-color: #ffc40c;
  border: none;
  border-radius: 5px;
  margin: auto;
  color: #0000aa;
  padding: 1rem;
}

.buttons:hover {
  background-color: #ac8307;
  cursor: pointer;
}

.legal {
  margin: 2rem auto;
  width: 80%;
  min-width: 300px;
  text-align: center;
}

.legal button {
  margin: 2rem auto;
}

.legal ul {
  width: 80%;
  min-width: 300px;
  margin: auto;
  text-align: left;
}